##############################################################################################################
# Battery recall notices: Gateway
#
# These are properties defining the behavior:
#  UPOWER_RECALL_NOTICE
#  UPOWER_RECALL_VENDOR
#  UPOWER_RECALL_URL
#

# only match power_supply devices
SUBSYSTEM!="power_supply", GOTO="up_battery_recall_gateway_end"

# only match batteries
ATTR{type}!="Battery", GOTO="up_battery_recall_gateway_end"

# only match correct manufacturer
ATTR{manufacturer}!="Gateway", GOTO="up_battery_recall_gateway_end"

ATTR{model_name}=="916C4610F", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="916C4720F", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="916C4730F", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="916C5010F", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="W230", ENV{UPOWER_RECALL_NOTICE}="1"

ENV{UPOWER_RECALL_NOTICE}=="1", ENV{UPOWER_RECALL_VENDOR}="Gateway", ENV{UPOWER_RECALL_URL}="http://www.gateway.com/battery/\n"

LABEL="up_battery_recall_gateway_end"

