##############################################################################################################
# Battery recall notices: Dell
#
# These are properties defining the behavior:
#  UPOWER_RECALL_NOTICE
#  UPOWER_RECALL_VENDOR
#  UPOWER_RECALL_URL
#

# only match power_supply devices
SUBSYSTEM!="power_supply", GOTO="up_battery_recall_dell_end"

# only match batteries
ATTR{type}!="Battery", GOTO="up_battery_recall_dell_end"

# only match correct manufacturer
ATTR{manufacturer}!="Dell", GOTO="up_battery_recall_dell_end"

ATTR{model_name}=="1K055", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="C5446", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="F2100", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="KD494", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="W5915", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="Y1333", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="3K590", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="C6269", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="F5132", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="OR331", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="X5308", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="Y4500", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="5P474", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="C6270", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="GD785", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="M3006", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="X5329", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="Y5466", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="6P922", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="D2961", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="H3191", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="RD857", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="X5332", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="C2603", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="D5555", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="J1524", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="TD349", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="X5333", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="C5339", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="D6024", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="JD616", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="U5867", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="X5875", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="C5340", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="D6025", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="JD617", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="U5882", ENV{UPOWER_RECALL_NOTICE}="1"
ATTR{model_name}=="X5877", ENV{UPOWER_RECALL_NOTICE}="1"

ENV{UPOWER_RECALL_NOTICE}=="1", ENV{UPOWER_RECALL_VENDOR}="Dell", ENV{UPOWER_RECALL_URL}="https://www.dellbatteryprogram.com"

LABEL="up_battery_recall_dell_end"

