##############################################################################################################
# Battery recall notices: Lenovo
#
# These are properties defining the behavior:
#  UPOWER_RECALL_NOTICE
#  UPOWER_RECALL_VENDOR
#  UPOWER_RECALL_URL
#

# only match power_supply devices
SUBSYSTEM!="power_supply", GOTO="up_battery_recall_lenovo_end"

# only match batteries
ATTR{type}!="Battery", GOTO="up_battery_recall_lenovo_end"

# only match correct manufacturer
ATTR{manufacturer}!="SANYO", GOTO="up_battery_recall_lenovo_end"

ATTR{model_name}=="92P1131", ENV{UPOWER_RECALL_NOTICE}="1"

ENV{UPOWER_RECALL_NOTICE}=="1", ENV{UPOWER_RECALL_VENDOR}="LENOVO", ENV{UPOWER_RECALL_URL}="http://www.lenovo.com/batteryprogram"

LABEL="up_battery_recall_lenovo_end"

